*{
    margin: 0px;
    padding: 0px;
}

ul{

    height: 100px;
    align-items: center;
    background-color: black;
    list-style: none;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    
}
li{
    color: white;
}